.apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.apps__text {
  font-size: 12px;
}

.apps__links {
  width: 356px;
  display: flex;
  flex-direction: row;
}

.apps__link {
  display: inline-block;
}
