.footer-links__list {
  list-style: none;
  margin-top: 6px;
  margin-bottom: 0;
}

.footer-links__item {
  padding-left: 76px;  
}

.footer-links__item:not(:first-child) {
  margin-top: 41px;
}

.footer-links__item:not(:last-child) {
  margin-bottom: 41px;
}

.footer-links__link {
  position: relative;
  color: $color-white;
  text-transform: uppercase;
  font-size: 14px;
  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: -46px;
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
  }

  &:focus,
  &:hover {
    color: $primary-color;
  }

  &:active {
    opacity: .7;
  }
}

.footer-links__link--events {
  &::before {
    background-image: url("../img/icon-events.png");
  }
}

.footer-links__link--charity {
  &::before {
    background-image: url("../img/icon-charity.png");
  }
}

.footer-links__link--guide {
  &::before {
    background-image: url("../img/icon-guide.png");
  }
}

.footer-links__link--events {
  &:focus,
  &:hover {
    &::before {
      background-image: url("../img/icon-events-hover.png");
    }
  }
}

.footer-links__link--charity {
  &:focus,
  &:hover {
    &::before {
      background-image: url("../img/icon-charity-hover.png");
    }
  }
}

.footer-links__link--guide {
  &:focus,
  &:hover {
    &::before {
      background-image: url("../img/icon-guide-hover.png");
    }
  }
}