.timetable__wrapper {
  width: $content-width-desktop;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timetable__label-list {
  width: 820px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 58px;
  padding-left: 0;
}

.timetable__label-item {
  font-weight: bold;
  line-height: 20px;
  color: $primary-color;
  text-align: center;
}

.timetable__label-item label {
  display: flex;
  height: 100%;
  padding: 14px 40px;
  border: 1px solid $primary-color;
  border-radius: 64px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  &:focus,
  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 169, 191, 0.4);
  }
  &:active {
    opacity: 0.5;
  }
}

.timetable__label-item--grooming {
  width: 294px;
}

.timetable__label-item--lecture {
  width: 160px;
}

.timetable__label-item--training {
  width: 316px;
}

.timetable-content__item {
  display: none;
}

#grooming:checked ~ section .timetable-content .timetable-content__item--grooming,
#lecture:checked ~ section .timetable-content .timetable-content__item--lecture,
#training:checked ~ section .timetable-content .timetable-content__item--training {
  display: block;
}

#grooming[type="radio"]:checked ~ .timetable__tabs .timetable__label-item--grooming label,
#lecture[type="radio"]:checked ~ .timetable__tabs .timetable__label-item--lecture label,
#training[type="radio"]:checked ~ .timetable__tabs .timetable__label-item--training label {
  background-color: $primary-color;
  color: $color-white;
  box-shadow: 0px 10px 30px rgba(0, 169, 191, 0.4);
  transition: all 0.2s;
}

.timetable__list {
  width: $content-width-desktop;
  list-style: none;
  padding-left: 0;
}

.timetable__item {
  width: 100%;
  margin-bottom: 19px;
  padding: 46px 0 30px 0;
  border-radius: 32px;
}

.timetable__item--blue {
  background-color: #f3fafe;
}

.timetable__item--yellow {
  background: linear-gradient(0deg, #fffcf2, #fffcf2), #fffae6;
}

.timetable__item--green {
  background-color: #f2f9f6;
}

.timetable__item--rose {
  background: linear-gradient(0deg, #fef7f6, #fef7f6), #fdefef;
}

.timetable-block {
  display: flex;
  flex-direction: row;
}

.timetable-block__date {
  width: 328px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.timetable-block__day,
.timetable-block__week-day {
  margin: 0;
  margin-left: 65px;
}

.timetable-block__week-day {
  margin-top: 10px;
}

.timetable-block__day {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #f07d10;
}

.timetable-block__table tr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.timetable-block__time {
  width: 138px;
  padding-bottom: 15px;
}

.timetable-block__info {
  width: 756px;
  padding-bottom: 12px;
}
